* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(43, 43, 44);
}

.item{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.item1{
    background-color: rgb(127, 9, 9);
    
}

.item2{
    background-color: green;
}

.item3{
    background-color: blue;
}

.item4{
    background-color: gray;
}