.container{
    background-color: rgb(112, 112, 207);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
}
.tabla{
    background-color: brown;
    padding: 20px;
    width: 80%;
    margin: 0 auto 50px;
}
.gridjs-th-content{
    color: blue;
}

.btn-alert{
    margin-bottom: 50px;
    display: block;
    margin: 0 auto;
}